<!DOCTYPE html>
<html>
<head>
  <title>Export meta data to csv | <%= @title %></title>
  <meta name="description" content="You can extract page titles, meta description, keywords, h1 and h2, and noindex, nofollow, redirect status and canonical urls from all pages in a website. and save them to a csv file.">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
  <link href="css/my.css" rel="stylesheet" media="screen">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36598199-2', 'herokuapp.com');
  ga('send', 'pageview');

  </script>
</head>
<body>

<div id="wrapper">
  <h1><a href="/"><%= @title %></a></h1>
  <%= yield %>
</div>
<div class="footer">
  free SEO service | metaExport2csv 2013
</div>
</body>
</html>
