<!DOCTYPE html>
<html>
<head>
  <title>Export meta data to csv | <%= @title %></title>
  <meta name="description" content="You can extract page titles, meta description, keywords, h1 and h2, and noindex, nofollow, redirect status and canonical urls from all pages in a website. and save them to a csv file.">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
  <link href="css/my.css" rel="stylesheet" media="screen">
    <script src="js/analytics.js"></script>
</head>
<body>

<div id="wrapper">
  <h1><a href="/"><%= @title %></a></h1>
  <%= yield %>
</div>
<div class="footer">
  free SEO service | metaExport2csv 2013
</div>
</body>
</html>
